.link {
    color: blue;
    margin-right: 10px;
    text-decoration:none;
    padding:40px;
    margin:100px;
  }
  
  .active-link {
    color: white;
    background-color: black;
    text-decoration:none;
    margin:100px;
    padding:40px;
    padding: 5px;
  }