*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:sans-serif;
}
.container{
    background-color:rgb(64, 119, 247);
    color:rgb(249, 244, 237);
    height:500px;
    width:100%;
}